<div class="flex-column" id="hero">
    <form action="/admin/newplayer" method="POST">
        <label>Username</label>
        <input type="text" name="username" required autofocus>
        <label>Real Name</label>
        <input type="text" name="realname" required>
        <button type="submit">Save</button>
    </form>
</div>