<div class="flex-column" id="hero">
    <h1>Log Book</h1>
    <div class="flex-column raisedDiv centeredColumn">
        <% logs.forEach(item=>{%>
            <div class="flex-row recordRow"><h3><%= `${formatDateWithTimes(item.timestamp)} - ${item.message}` %></h3></div>
        <%})%>
    </div>
    <a href="/admin">Back</a>
</div>