<div class="flex-row" id="header">
    <% if(typeof user != "undefined"){ %>
        <% if(user.permissionLevel != 0){ %>
            <div class="flex-row" id="adminNav">
                <a href="/admin" class="navButton">Admin Panel</a>
                <a href="/admin/playertracker" class="navButton">Player Tracker</a>
                <a href="/admin/logs" class="navButton">Logs</a>
            </div>
        <%}%>
    <%}%>
    <div class="flex-row">
        <a href="/" class="navButton">Home</a>
        <a href="/playerdatabase" class="navButton">Find A Player</a>
        <div class="flex-column" id="loginDetailsColumn">
            <% if(typeof user == "undefined"){%>
                <a href="/login" id="loginButton">Login</a>
            <%}else{%>
                <form id="logoutForm" action="/logout?_method=DELETE" method="POST"><button type="submit">Logout</button></form>
            <%}%>
        </div>
    </div>
</div>
<div class="flex-row" id="mobileHeader">
    <div class="flex-column" id="loginDetailsColumn">
        <% if(typeof user == "undefined"){%>
            <a href="/login" id="loginButton">Login</a>
        <%}else{%>
            <form id="logoutForm" action="/logout?_method=DELETE" method="POST"><button type="submit">Logout</button></form>
        <%}%>
    </div>
    <img src="/img/hamburger.png" id="hamburger">
    <div class="flex-column" id="mobileNav">
        <a href="/" class="navButton">Home</a>
        <a href="/playerdatabase" class="navButton">Find A Player</a>
        <% if(typeof user != "undefined"){ %>
            <% if(user.permissionLevel != 0){ %>
                <a href="/admin" class="navButton">Admin Panel</a>
                <a href="/admin/logs" class="navButton">Logs</a>
                <a href="/admin/playertracker" class="navButton">Player Tracker</a>
            <%}%>
        <%}%>
    </div>
</div>