<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phoenix Rising</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive/main.css">
    <% if(typeof css != "undefined"){ %>
        <% if(typeof css == "String"){%>
            <link rel="stylesheet" type="text/css" href="<%= `/css/${css}.css` %>">
        <%}else{%>
            <% css.forEach(item => {%>
                <link rel="stylesheet" type="text/css" href="<%= `/css/${item}.css` %>">
            <%})%>
        <%}%>
    <%}%>
</head>
<body>
    <%- include("../partials/publicHeader") %>
    <%- body %>

    <script src="/js/public.js"></script>
</body>
</html>