<div class="flex-column" id="hero">
    <h1>Bringing Club Poker to the online scene</h1>
    <div class="flex-row">
        <div class="flex-column info-column">
            <div class="flex-row"><img class="bulletImg" src="img/spades.png"><h3 class="infoString">A gaming schedule that is centered around its players</h3></div>
            <div class="flex-row"><img class="bulletImg" src="img/diamonds.png"><h3 class="infoString">You'll know exactly who you are playing against</h3></div>
        </div>
        <div class="flex-column" id="fish">
            <img src="img/logo.png">
            <h3 id="clubID">Club ID: 1786642</h3>
        </div>
        <div class="flex-column info-column">
            <div class="flex-row"><img class="bulletImg" src="img/clubs.png"><h3 class="infoString">Same day deposits and withdrawals</h3></div>
            <div class="flex-row"><img class="bulletImg" src="img/hearts.png"><h3 class="infoString">There will be zero bots, guaranteed</h3></div>
        </div>
    </div>
</div>
<h2>Download and play on any device</h2>
<div class="flex-row alt-row">
    <a class="downloadLink" href="http://dl.pppoker.net/apk/pppoker_fb_last_release.apk?v=fb.3.2.1"><img src="img/dl_android.png"></a>
    <a class="downloadLink" href="https://itunes.apple.com/us/app/pppoker-home-games-play-poker/id1101622978?l=zh&ls=1&mt=8"><img src="img/dl_apple.png"></a>
    <a class="downloadLink" href="https://play.google.com/store/apps/details?id=com.lein.pppoker.android"><img src="img/dl_google.png"></a>
    <a class="downloadLink" href="http://dl.pppoker.net/win/pppoker_pc_last_release.msi?v=pc.33.0"><img src="img/dl_windows.png"></a>
</div>
<div class="flex-column fifty" id="shark">
    <h2>What is PPPOKER</h2>
    <p> 
        PPPoker is an online free to play poker platform that is accesible to everyone regardless of what device they will be playing on. 
        Enjoy the freedom of playing in the apps Global Tournament or join our Club to be able to play with everyone that you know.
        Following a super simple <span class="extraScroll">two step process</span> you will be able to play in any available game that is currently running within the Club.
    </p>
    <p>
        Unlike normal online card rooms you will know exactly who you will be playing against when using this app. Our Club follows a policy of transparency.
        All of our members have a username that makes them recognisable to those who have played against them before. This means that the live tells that you've
        acquired while playing on the live circuit can be transferred online; helping you distinguish between the fish and the sharks at the tables.
    </p>
    <p>
        Along with it's crisply smooth running software there are also multiple game types spanning a multitude of different settings, from the original Sit'n'Go Hold'em poker 
        to 5 card Pot Limit Omaha to Progressive Open Face Chinese Pineapple.
    </p>
    <div class="flex-row"><img class="bulletImg" src="img/spades.png"><h3 class="infoString">Top of the line software</h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/diamonds.png"><h3 class="infoString">Certified by <a href="https://access.gaminglabs.com/certificate/index?i=277" target="_blank"">Gaming Labs</a></h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/clubs.png"><h3 class="infoString">Bringing a personal touch back to online poker</h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/hearts.png"><h3 class="infoString">100's of potential game combinations</h3></div>
    </div>
</div>
<div class="flex-row alt-row">
    <div class="flex-column gameType" id="holdemImage">
        <h2>NLH</h2>
        <h3>No Limit Hold'em</h3>
    </div>
    <div class="flex-column gameType" id="ploImage">
        <h2>PLO</h2>
        <h3>Pot Limit Omaha</h3>
    </div>
    <div class="flex-column gameType" id="ofcImage">
        <h2>OFC</h2>
        <h3>Open Face Chinese</h3>
    </div>
</div>
<div class="flex-column fifty" id="whale">
    <h2>How does it work</h2>
    <p>
        All money to play the games in the app is handled completely offline. You will use PPPoints in the app to play your preferred game of choice. Each point you have is worth 
        £1 and to get points you transfer money to the Club manager who then gives you the corresponding amount of points.
    </p>
    <div class="flex-row">
        <div class="flex-column">
            <div class="flex-row"><img class="bulletImg" src="img/spades.png"><h3 class="infoString">You transfer money to the Club manager</h3></div>
            <div class="flex-row"><img class="bulletImg" src="img/diamonds.png"><h3 class="infoString">They transfer you PPPoints (in-app currency)</h3></div>
            <div class="flex-row"><img class="bulletImg" src="img/clubs.png"><h3 class="infoString">Use those PPPoints to play in your favourite game</h3></div>
            <div class="flex-row"><img class="bulletImg" src="img/hearts.png"><h3 class="infoString">Withdraw at any time and have money transferred back to you</h3></div>
        </div>
        <div class="flex-column">
            <img src="img/flow.png" id="flow">
        </div>
    </div>
    <h2 id="fundsGTD">Guaranteed to have 100% withdrawal funds</h2>
</div>
<div class="flex-row suitSeperator">
    <img src="img/spades.png">
    <img src="img/diamonds.png">
    <img src="img/clubs.png">
    <img src="img/hearts.png">
</div>
<div class="flex-column fifty" id="chips">
    <h2>Getting Started</h2>
    <p>
        Once you have downloaded the app on your preferred device you need to change your profile name so that it meets our Clubs rules. 
        You will need to choose a nickname that makes you recognisable to the other players, this could be your own name or a nickname 
        that you are well known by. We feel strongly that by having the Club set up this way that we can keep the offline vibe alive even while playing virtually.
    </p>
    <p>
        Please be aware that you can only change your name ONCE for free. If you make a mistake or need to change it again then it will unfortunately cost you diamonds, the apps in game premium currency.
    </p>
    <p>
        Once you are ready to join and play against your friends then search for the Club by clicking on the magnifying glass on the home page. It will ask you for a Club ID. 
        Use 1786642 and make sure you type your 'real name' into the verification information when prompted. This will help us identify who you are when transferring PPPoints to you.
    </p>
    <div class="flex-row"><img class="bulletImg" src="img/spades.png"><h3 class="infoString">Download the app on any device</h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/diamonds.png"><h3 class="infoString">Change your profile name to something that relates to you</h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/clubs.png"><h3 class="infoString">Send a request to join the Club using 1786642 for the ID.</h3></div>
    <div class="flex-row"><img class="bulletImg" src="img/hearts.png"><h3 class="infoString">Join our <a href="https://www.facebook.com/groups/216736632764307/about/" target="_blank">Facebook Group</a> if you have any questions</h3></div>
    <p>
        As this is a personal Club we feel that everyone should have the right to know who they are playing against and because of this a database of real names vs usernames 
        will be publicly available to all.
    </p>
</div>

<h2 id="final">Remember have fun, play within your means and we'll see you at the tables</h2>

<a href="https://senetgroup.org.uk/" target="_blank" id="stop"><img src="img/stop.jpg"></a>

<script src="js/home.js"></script>