<div class="flex-column" id="hero">
    <h2 id="loginString">Login</h2>
    <p>
        Please login to be able to access member only pages
    </p>
    <form action="<%= `/loginCheck/${destination}` %>" method="POST" id="loginForm">
        <label for="username">Username</label>
        <input type="text" name="username" required id="username">
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off" required id="password">
        <button>Submit</button>
    </form>
    <a href="https://www.facebook.com/groups/216736632764307/" target="_blank" id="facebookLink">Phoenix Rising Facebook Group</a>
    <% if(message.error){ %>
        <h3 class="error infoMessage">Please enter valid credentials</h3>
        <h3 class="error infoMessage">If you think this may be a mistake then please contact Dave or Steve directly</h3>
    <%}%>
</div>

<script>

    

</script>