*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: lighter;
}

:root{
    --mainColour: #1f9d56;
    --secondaryColour: #11C6C6;
    --tertiaryColour: #dd08f7;
    --altBGColour: #121212;
    --errorColour: #f84;
}

::selection{
    color:var(--mainColour);
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 0.3vw;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius:50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, var(--mainColour) 0%, var(--secondaryColour) 100%);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--mainColour);
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--mainColour);
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex:1;
    width: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom:3vh;
}

#header, #mobileHeader{
    justify-content: flex-end;
    padding:3vh 10vw;
    box-shadow: 0px 0px 15px 7px #232323;
    background-image: linear-gradient(180deg, #000 0%, #232323 100%);
    position: fixed;
    z-index: 99;
}

#mobileHeader, #mobileNav{
    display: none;
}

#header #adminNav{
    margin-right:1vw;
}

#header .flex-row{
    width:unset;
    margin:0;
    justify-content: flex-end;
}

.navButton{
    color: var(--secondaryColour);
    cursor: pointer;
    margin: 0 1vw;
}

.navButton:hover{
    color: var(--mainColour);
}

#hero{
    margin:14vh 0 7vh;
}

h1{
    font-size: 3em;
    margin-bottom:3.3vh;
    position: relative;
    z-index: 10;
}

h2{
    font-size: 2em;
    color: white;
    margin-bottom: 4vh;
}

p{
    margin: 0 3vw 2vh;
    color: #c1c1c1;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--secondaryColour);
}

a:hover{
    color: var(--mainColour);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input{
    width:80%;
    border-radius: 8px;
    margin-bottom:1.5vh;
    padding:0.5vh 0.3vw;
    text-align: center;
}

form button{
    margin-top:1.5vh;
    min-width:5vw;
    border-radius:8px;
    background-color: var(--secondaryColour);
    border:none;
    color:#232323;
    padding: 1vh 0;
    cursor:pointer;
}

form button:hover{
    background-color:var(--mainColour);
    color:#fff;
}

form label{
    text-align: center;
    margin-bottom:0.3vh;
}

form .infoLabel{
    max-width:66%;
    margin:1vh 0;
    color: var(--secondaryColour);
    font-size: 0.7em;
}

.error{
    color:var(--errorColour);
    font-size:0.8em;
    margin-top:2vh;
    text-align: center;
    transition: 0.3s;
}

#facebookLink{
    color: var(--tertiaryColour);
    margin:2vh 0 0;
}

#facebookLink:hover{
    color: var(--secondaryColour);
}

#loginDetailsColumn{
    margin-left:1vw;
}

.loginDetails{
    color: var(--tertiaryColour);
    font-size: 0.8em;
}

#logoutForm button{
    padding:0vh 0;
    margin-top:0.1vh;
    background-color: transparent;
    color:white;
    font-size: 0.7em;
    min-width: unset;
}

#logoutForm button:hover{
    color:var(--secondaryColour);
}