@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Montserrat&display=swap');

*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: lighter;
}

:root{
    --mainColour: #1f9d56;
    --secondaryColour: #11C6C6;
    --tertiaryColour: #dd08f7;
    --altBGColour: #121212;
    --errorColour: #f84;
}

::selection{
    color:var(--mainColour);
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 0.3vw;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius:50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, var(--mainColour) 0%, var(--secondaryColour) 100%);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--mainColour);
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--mainColour);
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body::before{
    content: '';
    position: fixed;
    background-image: url(/img/phoenixBG.jpg);
    width: 100%;
    height: 100%;
    top: 0 ;
    left: 0;
    background-position: 62% 17%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(0.015);
    z-index: -1;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex:1;
    width: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom:3vh;
}

.fifty{
    width: 50%;
    text-align: center;
}

#header, #mobileHeader{
    justify-content: flex-end;
    padding:3vh 10vw;
    box-shadow: 0px 0px 15px 7px #232323;
    background-image: linear-gradient(180deg, #000 0%, #232323 100%);
    position: fixed;
    z-index: 99;
}

#mobileHeader, #mobileNav{
    display: none;
}

#header .flex-row{
    width:unset;
    margin:0;
    justify-content: flex-end;
}

.navButton{
    color: var(--secondaryColour);
    cursor: pointer;
    margin: 0 1vw;
}

.navButton:hover{
    color: var(--mainColour);
}

#hero{
    margin:14vh 0 0vh;
}

h1{
    font-size: 3em;
    margin-bottom:3.3vh;
    position: relative;
    z-index: 10;
    font-family: 'Libre Baskerville', serif;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    color: white;
    margin-bottom: 2vh;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h5{
    font-size: 0.8em;
    color: var(--secondaryColour);
    margin:0.5vh 0;
}

p{
    margin: 0 3vw 2vh;
    color: #c1c1c1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: var(--secondaryColour);
}

a:hover{
    color: var(--tertiaryColour);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, form select{
    width:80%;
    border-radius: 8px;
    margin-bottom:1.5vh;
    padding:0.3vh 0.3vw;
    text-align: center;
}

form button{
    margin-top:1.5vh;
    min-width:5vw;
    border-radius:8px;
    background-color: var(--secondaryColour);
    border:none;
    color:#232323;
    padding: 1vh 2vw;
    cursor:pointer;
    margin-bottom: 2.5vh;
}

form button:hover{
    background-color:var(--mainColour);
    color:#fff;
}

form label{
    text-align: center;
    margin-bottom:0.3vh;
}

form .infoLabel{
    max-width:66%;
    margin:1vh 0;
    color: var(--secondaryColour);
    font-size: 0.7em;
}

#facebookLink{
    color: var(--tertiaryColour);
    margin:2vh 0 0;
}

#facebookLink:hover{
    color: var(--secondaryColour);
}

#loginDetailsColumn{
    margin-left:1vw;
}

.loginDetails{
    color: var(--tertiaryColour);
    font-size: 0.8em;
}

#logoutForm button{
    padding:0vh 0;
    margin:0.1vh 0 0;
    background-color: transparent;
    color:white;
    font-size: 0.7em;
    min-width: unset;
}

#logoutForm button:hover{
    color:var(--secondaryColour);
}

.altColour{
    color:var(--secondaryColour);
}

.altColour:nth-of-type(odd){
    filter:hue-rotate(45deg);
}

#backButton{
    margin-top:1vh;
    color: var(--tertiaryColour);
}

#backButton:hover{
    color:var(--mainColour);
}

.infoMessage{
    color:var(--tertiaryColour);
    font-size:1em;
    margin:1vh 0;
    text-align: center;
    transition: 0.3s;
}

.error{
    color:var(--errorColour);
    font-size: 0.8em;
}

.unchosen{
    background-color: var(--altBGColour);
    color: #888;
    border: 1px solid #333;
}

.chosen{
    background-color: #1f9d56;
    color:#fff;
    cursor: default;
}

.unchosen:hover{
    background-color: var(--altBGColour);
    color: #eee;
    border-color: #666;
}

.raisedDiv{
    padding:2%;
    margin:1vh 1vw;
    border-radius: 8px;
    background: linear-gradient(145deg, #1c1d21aa, #17181c33);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
    min-height:38vh;
    justify-content: flex-start;
    scrollbar-color: var(--mainColour) var(--altBGColour);
    scrollbar-width: thin;

}

.centeredColumn{
    max-height:60vh;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    width:33%;
    margin:2vh 0;
    padding:1% 2%;
}

.bigButton{
    width:15%;
    border:3px solid var(--altBGColour);
    box-shadow: 5px 5px 2px 2px #23232333;
    text-align: center;
    padding:2vh 0;
    border-radius: 10px;
    margin: 1vh 1vw;
}