#searchColumn{
    z-index: 50;
    padding: 0vh 0 1vh;
    margin-bottom:1vh;
}

#searchColumn #searchBar{
    padding:0.5vh 0.3vw;
    border-radius:8px;
}

.playerRow{
    justify-content: space-between;
    margin-bottom: 1vh;
}

.playerRow:hover h3{
    color: var(--secondaryColour);
    cursor: default;
}

.verified{
    position: relative;
}

.verified::after{
    content:'\2605';
    position: absolute;
    top: -1.2vh;
    right: -0.6vw;
    transform:scale(0.7);
}

#verifyString{
    color:var(--mainColour);
    font-size: 0.8em;
    margin: -1.1vh 0 1vh;
}

#searchBar{
    text-align: center;
}