@media only screen and (min-width:768px) and (max-width: 1024px){
    *{
        font-weight: 400;
    }
    #header{
        padding: 2vh 3vw;
    }
    #header .flex-row{
        width:33%;
    }
    .centeredColumn{
        width:60%;
    }
}

@media only screen and (max-width:767px){
    *, ::before, ::after{
        font-weight: 400;
    }
    body::before{
        filter: brightness(0.05);
    }
    .flex-column{
        flex:unset;
    }
    #header{
        display: none;
    }
    #mobileHeader{
        display: flex;
        padding:2vh 2vw;
        margin:0;
        width:100vw;
        justify-content: space-between;
    }
    #mobileHeader #loginDetailsColumn{
        width:unset;
    }
    #mobileHeader #hamburger{
        width:8vw;
    }
    #mobileNav{
        display: flex;
        position: fixed;
        width:45vw;
        top: 7.5vh;
        right: 0vw;
        z-index: 99;
        background-color: #000;
        border-left: 1px solid var(--mainColour);
        border-bottom: 1px solid var(--mainColour);
        border-radius: 0px 0px 0px 20px;
        background: linear-gradient(145deg, #232323, #000);
        transition: 0.3s;
        transform:translateX(50vw);
    }
    #mobileNav a{
        margin:1.5vh 0;
    }
    form button{
        min-width: 25vw;
    }
    h2{
        text-align: center;
        font-size: 1.2em;
        margin:1vw;
    }
    h3{
        text-align: center;
        margin:0 1vw;
    }
    p{
        font-size: 0.9em;
        text-align: center;
        margin:2vh 10vw;
    }
    .error{
        margin:2vh 7vw 0;
    }
    .navButton{
        width:100%;
        text-align: center;
    }
    .centeredColumn{
        width:90%;
        max-height:50vh;
    }
    .raisedDiv{
        margin-bottom:4vh;
        min-height: unset;
    }
}