@media only screen and (min-width:768px) and (max-width: 1024px){
    .playerRow{
        max-width: 90%;
    }
    .verified::after{
        top: -1.6vh;
        right: -1.5vw;
    }
}

@media only screen and (max-width:767px){
    h1{
        font-size: 1.3em;
        margin:0 3vw 0vh;
        text-align: center;
    }
    p{
        font-size: 0.7em;
    }
    .playerRow{
        max-width:97%;
    }

    .playerRow h3{
        font-size: 0.9em;
    }

    .verified::after{
        top:-1vh;
        right:-4vw;
    }
}